# Keep git in the template working copy. Clones do not get this file.
.keep-git

# Project place file
/GenTree.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
node_modules/
Packages/

ServerPackages/
